html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 45px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
}

.center-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.footer-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}


nav.navbar {
    background-color: #000;
    border-color: #000;
}
a.navbar-brand {
    padding: 0;  
}
.main-menu {
    padding: 0;
}
.main-menu i.form-control-feedback-left {
    position: absolute;
    top: 21px;
    color: #999;
    left: 24px;
}
.main-menu i.form-control-feedback-right {
    position: absolute;
    top: 21px;
    color: #43ac6a;
    right: 24px;
    cursor: pointer;
}
.main-menu input.form-control {
    padding-left: 25px;
    padding-right: 25px;
}
.main-menu .list-group-item.active {
    background-color: #008cba;
    color: #fff;
}
.main-menu .list-group-item.active h4{
    background-color: #008cba;
    color: #fff;
}
.center-block {
    float: none;
}
.form-group:last-child {
    margin-bottom: 0;
}
.modal-footer {
    margin-top: 0;
}

#mgVideoChat .container {
    width: 920px;
}

#mgVideoChat .file .btn {
    padding: 14px 21px;
}

.tt-dataset-users {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 5px;
    width: 155px;
    padding: 5px;
}
.tt-suggestion {
    margin: 0;
    padding: 3px;
}
.tt-suggestion:hover{
    background-color: #eee;
}

.empty-message {
    margin: 10px auto;
}
.intro .name {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    margin-left: 5px;
}