<div class="container">
    <div id="messagePanel">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <div class="text"></div>
        </div>
    </div>
    <!-- LOGIN BUTTONS -->
    <div id="loginPanel">
        <button id="loginButton" class="btn btn-primary btn-lg"><% print($.fn.mgVideoChat._('Login')); %></button>
    </div>    
    <div class="row row-offcanvas row-offcanvas-left">
        <div id="sideMenu" class="col-sm-10 col-md-5" data-no_chat_class="col-sm-12 col-md-8" data-chat_class="col-sm-10 col-md-5 sidebar-offcanvas">
            <div id="filesPanel" class="panel panel-default" style="display: none">
                <!-- FILES -->
                <div class="panel-heading">
                    <h3 class="panel-title">Files</h3>
                </div>
                <div class="panel-body">
                    <ul id="files"></ul>
                </div>
            </div>
            <div id="connectionsPanel">
                <!-- FRIENDS -->
            </div>
            <div id="youInfoPanel" class="panel panel-default" style="display: none">
                <!-- YOU INFO -->
                <div class="panel-heading">
                    <h3 class="panel-title"><% print($.fn.mgVideoChat._('You')); %></h3>
                </div>
                <div class="panel-body" id="youInfo">
                </div>
            </div>            
        </div>
        <div id="mainContent" class="col-sm-0" data-no_chat_class="col-sm-0" data-chat_class="col-sm-12 col-md-7 open">
            <nav id="offcanvasTB" class="navbar navbar-default" role="navigation">
                <button type="button" id="offcanvasButton" class="navbar-toggle pull-left btn-primary"><span class="glyphicon"></span></button>
            </nav>
            <div id="callPanel" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><% print($.fn.mgVideoChat._('Call')); %></h3>
                </div>
                <div class="panel-body">
                    <div id="videoPanel">
                        <div id="videoToolbar" class="btn-group" role="toolbar">                                                       
                            <button type="button" id="videoFullScreen" class="btn btn-default btn-lg" title="<% print($.fn.mgVideoChat._('Full Screen')); %>">
                                <span class="glyphicon glyphicon-fullscreen"></span>
                            </button>
                            <button type="button" id="videoExitFullScreen" class="btn btn-default btn-lg" title="<% print($.fn.mgVideoChat._('Exit Full Screen')); %>">
                                <span class="glyphicon glyphicon-resize-small"></span>
                            </button>
                            <button type="button" id="callHangup" class="btn btn-danger btn-lg" title="<% print($.fn.mgVideoChat._('Hang up')); %>">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                            </button>
                            <button type="button" id="videoMute" class="btn btn-default btn-lg" title="<% print($.fn.mgVideoChat._('Video Mute')); %>" data-title-on="<% print($.fn.mgVideoChat._('Video Mute')); %>" data-title-off="<% print($.fn.mgVideoChat._('Video Un-Mute')); %>" data-icon-on="glyphicon-eye-open" data-icon-off="glyphicon-eye-close">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="button" id="audioMute" class="btn btn-default btn-lg" title="<% print($.fn.mgVideoChat._('Audio Mute')); %>" data-title-on="<% print($.fn.mgVideoChat._('Audio Mute')); %>" data-title-off="<% print($.fn.mgVideoChat._('Audio Un-Mute')); %>" data-icon-on="glyphicon-volume-up" data-icon-off="glyphicon-volume-off">
                                <span class="glyphicon glyphicon-volume-up"></span>
                            </button>                            
                        </div>
                        <video id="remoteVideo" autoplay="autoplay"></video>
                        <video id="localVideo" autoplay="autoplay" style="display: none" muted="true"></video>
                        <div id="remoteVideoBg" style="display: none"></div>
                        <div id="localVideoBg" style="display: none"></div>                        
                    </div>
                </div>
            </div>
            <div id="chatPanel" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><% print($.fn.mgVideoChat._('Chat')); %></h3>
                </div>
                <div class="panel-body">
                    <div id="chats"></div>                    
                </div>
            </div>            
        </div>
    </div>
</div>
<div id="loginDialog" class="modal fade" data-focus-on="input:first" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><% print($.fn.mgVideoChat._('Login')); %></h4>
            </div>
            <div class="modal-body">
                <label class="sr-only" for="userName"><% print($.fn.mgVideoChat._('Username')); %></label>
                <input id="userName" class="form-control" type="text" data-tabindex="1" placeholder="Username">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary login"><% print($.fn.mgVideoChat._('Login')); %></button>
            </div>
        </div>
    </div>
</div>

<div id="answerDialog" class="modal fade" style="display: none" data-caller_id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ringing</h4>
            </div>
            <div class="modal-body">
                <h3 class="username"></h3>
                <div class="desc"></div>
            </div>
            <div class="modal-footer">
                <button id="answer" class="btn btn-success btn-lg" title="<% print($.fn.mgVideoChat._('Answer with Video')); %>">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                </button>
                <button id="answerAudio" class="btn btn-success btn-lg" title="<% print($.fn.mgVideoChat._('Answer Audio')); %>">
                    <span class="glyphicon glyphicon-earphone"></span>
                </button>
                <button id="cancelCall" class="btn btn-danger btn-lg" title="<% print($.fn.mgVideoChat._('Cancel')); %>">
                    <span class="glyphicon glyphicon-phone-alt"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="requestDialog" class="modal fade" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><% print($.fn.mgVideoChat._('Access confirmation')); %></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <% print($.fn.mgVideoChat._('<strong>Heads up!</strong> Please note browser confirmation dialog on top of your window.')); %>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fileAcceptDialog" class="modal fade" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><% print($.fn.mgVideoChat._('File Offer')); %></h4>
            </div>
            <div class="modal-body">
                <h3 class="username"></h3>
                <div class="desc"></div>
                <p><% print($.fn.mgVideoChat._('is offering a file <strong class="fileName"></strong> of <em class="fileSize"></em>')); %></p>
            </div>
            <div class="modal-footer">
                <button id="fileAccept" class="btn btn-success btn-lg" title="<% print($.fn.mgVideoChat._('Accept file')); %>">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button id="fileCancel" class="btn btn-danger btn-lg" title="<% print($.fn.mgVideoChat._('Reject')); %>">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<audio id="ringSound" preload="auto" loop="loop" style="display: none">
    <source src="<%=config.dir + config.sound.ogg%>" type="audio/ogg">
    <source src="<%=config.dir + config.sound.mp3%>" type="audio/mpeg">
</audio>
<audio id="notifySound" preload="auto" style="display: none">
    <source src="<%=config.dir + config.notifySound.ogg%>" type="audio/ogg">
    <source src="<%=config.dir + config.notifySound.mp3%>" type="audio/mpeg">
</audio>
<input style="display:none;" id="fileDialog" type="file" />