<div class="container">

  <div class="col-xs-4 col-md-2 main-menu">
    {{ partial('partials/menuProtected') }}
  </div>
  <div class="col-xs-8 col-md-10">
        <iframe src="//go.padstm.com/?id=196524&t=iframe"
                style="width:920px;height:50px;border:0;overflow:hidden;">
        </iframe>
        {{ flash.output() }}
  </div>

  {{ content() }}

</div>
